<!--      Ovde u div ubacujemo glavni deo    -->
<section class="about-section text-center" id="about" style = "background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url('assets/img/addRecipeBackground.jpg'); padding-bottom: 40px;">
  <div class="container">

    <!-- FORMA ZA DODAVANJE RECEPATA -->

    <div id="findRecipeContainer" class = "bg-beige">
       <h1>&bull; Dodajte svoj recept &bull;</h1>
       <div class="underline">
       </div>
       <div class="icon_wrapper">
         <img src = "assets/img/recipe.png" style = "width: 10%; height: auto;">
       </div>
       <form [formGroup]="checkoutForm" (ngSubmit)="submitForm(checkoutForm.value)" id="contact_form"  style = "margin-bottom: 10px;" enctype="multipart/form-data">
         <div style = "overflow: hidden;">
             <div style = "float: left; width: 315px;">
               <label type = "text" for="addRecipe" style = "width: 100%; text-align: left;">Unesite ime recepta:</label>
               <div class="addRecipe rdMin">
                 <input type="text" name="addRecipe" id="addRecipe" required style = "width: 100%; margin-bottom: 5px;" formControlName="title">
                 <p class="alert alert-danger" *ngIf="getTitleErr()?.required" style="width: 100%; text-align: left;margin-bottom: 5px;">
                  Naziv recepta je obavezno polje.
                 </p>
               </div>

               <label type = "text" for="addRecipe" style = "width: 100%; text-align: left;">Unesite težinu pripreme recepta [1-10]:</label>
               <div class="addRecipe rdMin">
                 <input type="text" name="addRecipe" id="addRecipe" required formControlName="difficulty" style="margin-bottom: 5px;">
                 <p class="alert alert-danger" *ngIf="getDiffErr()?.required" style="width: 100%; text-align: left;margin-bottom: 5px;">
                  Težina recepta je obavezno polje.
                 </p>
                 <p class="alert alert-danger" *ngIf="getDiffErr()?.min || getDiffErr()?.max" style="width: 100%; text-align: left;margin-bottom: 5px;">
                  Težina mora biti u opsegu(1-10).
                 </p>
                </div>

               <label type = "text" for="addRecipe" style = "width: 100%; text-align: left;">Unesite vreme pripreme recepta (u minutima):</label>
               <div class="addRecipe rdMin">
                 <input type="text" name="addRecipe" id="addRecipe" required formControlName="preptime" style="margin-bottom: 5px;">
                 <p class="alert alert-danger" *ngIf="getTimeErr()?.required" style="width: 100%; text-align: left;margin-bottom: 5px;">
                  Vreme recepta je obavezno polje.
                 </p>
                 <p class="alert alert-danger" *ngIf="getTimeErr()?.min || getTimeErr()?.max" style="width: 100%; text-align: left;margin-bottom: 5px;">
                  Vreme mora biti u opsegu(5-180).
                 </p>
                </div>

               <label type = "text" for="addRecipe" style = "width: 100%; text-align: left;">Unesite za koji obrok je namenjen recept (doručak/ručak/večera):</label>
               <div class="addRecipe rdMin">
                 <input type="text" name="addRecipe" id="addRecipe" required formControlName="course" style="margin-bottom: 5px;">
                 <p class="alert alert-danger" *ngIf="getCoursErr()?.required" style="width: 100%; text-align: left;margin-bottom: 5px;">
                  Obrok je obavezno polje.
                 </p>
                 <p class="alert alert-danger" *ngIf="getCoursErr()?.pattern" style="width: 100%; text-align: left;margin-bottom: 5px;">
                  Obrok može biti jedno od gore ponuđenih mogućnosti.
                 </p>
                </div>

               <label type = "text" for="addRecipe" style = "width: 100%; text-align: left;">Unesite za koliko osoba je recept namenjen:</label>
               <div class="addRecipe rdMin">
                 <input type="text" name="addRecipe" id="addRecipe" required formControlName="units" style="margin-bottom: 5px;">
                 <p class="alert alert-danger" *ngIf="getUnitsErr()?.required" style="width: 100%; text-align: left;margin-bottom: 5px;">
                  Broj ljudi je obavezno polje.
                 </p>
                </div>

               <!-- Kategorije -->
               <label type = "text" for="addRecipe" style = "width: 100%; text-align: left;">Izaberite kategorije kojima pripada recept:</label>
               <div class="row">
                 <div class="col">
                   <input class="form-check-input categoryCheckBox" type="checkbox" id="roundedOne" style = "left: 32px;" value="vegeterijanski" (change)="onCheckboxChange($event)">
                   <label class="form-check-label categoryCheck" for="roundedOne">Vegeterijanski</label>
                 </div>
                 <div class="col" style="float: left;">
                   <input class="form-check-input categoryCheckBox" type="checkbox" id="inlineCheckbox2" style = "left: 30px;" value="veganski" (change)="onCheckboxChange($event)">
                   <label class="form-check-label categoryCheck" for="inlineCheckbox2" style="margin-left: 17px;">Veganski</label>
                 </div>
               </div>
               <div class="row">
                 <div class="col" style="float: left;">
                   <input class="form-check-input categoryCheckBox" type="checkbox" id="inlineCheckbox3" style = "left: 32px;" value="posno" (change)="onCheckboxChange($event)">
                   <label class="form-check-label categoryCheck" for="inlineCheckbox3">Posno</label>
                 </div>
                 <div class="col" style="float: left;">
                   <input class="form-check-input categoryCheckBox" type="checkbox" id="inlineCheckbox4" style = "left: 30px;" value="zdravo" (change)="onCheckboxChange($event)">
                   <label class="form-check-label categoryCheck" for="inlineCheckbox4" style="margin-left: 17px;">Zdravo</label>
                 </div>
               </div>
               <div class="row">
                 <div class="col" style="float: left;">
                   <input class="form-check-input categoryCheckBox" type="checkbox" id="inlineCheckbox5" style = "left: 32px;" value="meso" (change)="onCheckboxChange($event)">
                   <label class="form-check-label categoryCheck" for="inlineCheckbox5">Meso</label>
                 </div>
                 <div class="col" style="float: left;">
                   <input class="form-check-input categoryCheckBox" type="checkbox" id="inlineCheckbox6" style = "left: 30px;" value="salata" (change)="onCheckboxChange($event)">
                   <label class="form-check-label categoryCheck" for="inlineCheckbox6" style="margin-left: 17px;">Salata</label>
                 </div>
               </div>
               <div class="row">
                 <div class="col" style="float: left;">
                   <input class="form-check-input categoryCheckBox" type="checkbox" id="inlineCheckbox7" style = "left: 32px;" value="riba" (change)="onCheckboxChange($event)">
                   <label class="form-check-label categoryCheck" for="inlineCheckbox7">Riba</label>
                 </div>
                 <div class="col" style="float: left;">
                   <input class="form-check-input categoryCheckBox" type="checkbox" id="inlineCheckbox8" style = "left: 30px;" value="morski plodovi" (change)="onCheckboxChange($event)">
                   <label class="form-check-label categoryCheck" for="inlineCheckbox8" style="margin-left: 17px;">Morski plodovi</label>
                 </div>
               </div>
               <div class="row">
                 <div class="col" style="float: left;">
                   <input class="form-check-input categoryCheckBox" type="checkbox" id="inlineCheckbox9" style = "left: 32px;" value="predjelo" (change)="onCheckboxChange($event)">
                   <label class="form-check-label categoryCheck" for="inlineCheckbox9">Predjelo</label>
                 </div>
                 <div class="col" style="float: left;">
                   <input class="form-check-input categoryCheckBox" type="checkbox" id="inlineCheckbox10" style = "left: 30px;" value="pasta" (change)="onCheckboxChange($event)">
                   <label class="form-check-label categoryCheck" for="inlineCheckbox10" style="margin-left: 17px;">Pasta</label>
                 </div>
               </div>
               <div class="row" style = "margin-bottom: 30px;">
                 <div class="col" style="float: left;">
                   <input class="form-check-input categoryCheckBox" type="checkbox" id="inlineCheckbox11" style = "left: 32px;" value="supa" (change)="onCheckboxChange($event)">
                   <label class="form-check-label categoryCheck" for="inlineCheckbox11">Supa/Čorba</label>
                 </div>
                 <div class="col" style="float: left;">
                   <input class="form-check-input categoryCheckBox" type="checkbox" id="inlineCheckbox12" style = "left: 30px;" value="torta" (change)="onCheckboxChange($event)">
                   <label class="form-check-label categoryCheck" for="inlineCheckbox12" style="margin-left: 17px;">Torta/Kolač</label>
                 </div>
               </div>

               <form action="/action_page.php" style="margin-bottom: 20px; padding-bottom: 0px;">
                <label type = "text" for="addRecipe" style = "width: 100%; text-align: left;">Unesite sliku recepta:</label>
                <input type="file" id="img" name="photo" accept="image/*"  style = "margin-bottom: 5px; padding-bottom: 0px;" required (change)="fileChangeEvent($event)" formControlName="photo">
                <p class="alert alert-danger" *ngIf="getPhotoErr()?.required" style="width: 100%; text-align: left;">
                  Slika recepta je obavezno polje.
                 </p>
              </form>

             </div>
             <div style = "float: right; width: 315px;">

              <div formArrayName="ingredients" class="enterIngredient" *ngFor="let ingrs of checkoutForm.controls.ingredients?.value; let i = index; trackBy:customTrackBy">
                <input type="text" placeholder="Unesite sastojak" name="enterIngredient" id="enterIngredient" required [formControlName]="i">
              </div>


              <!--


               <div class="enterIngredient">
                 <input type="text" placeholder="Unesite sastojak" name="enterIngredient" id="enterIngredient" required>
               </div>
               <div class="enterIngredient" style = "clear: both; ">
                 <input type="text" placeholder="Unesite sastojak" name="enterIngredient" id="enterIngredient" required>
               </div>
               <div class="enterIngredient" style = "clear: both;">
                 <input type="text" placeholder="Unesite sastojak" name="enterIngredient" id="enterIngredient" required>
               </div>
               <div class="enterIngredient" style = "clear: both; ">
                 <input type="text" placeholder="Unesite sastojak" name="enterIngredient" id="enterIngredient" required>
               </div>
               <div class="enterIngredient" style = "clear: both;">
                 <input type="text" placeholder="Unesite sastojak" name="enterIngredient" id="enterIngredient" required>
               </div>

               <div class="enterIngredient" style = "clear: both; margin-bottom: 37px;">
                 <input type="text" placeholder="Unesite sastojak" name="enterIngredient" id="enterIngredient" required>
               </div>

               -->


               <div class="submit" style = "width: 100%; margin-bottom: 30px;">
                 <input type="button" (click)="addIngredient()" value="Dodaj sastojak" id="form_button_ingredients" style = "width: 150px; height: 50px; font-size: small; "/>
                </div>

               <div class="message">
                 <label for="message"></label>
                 <textarea name="message" placeholder="Instrukcije za pripremu obroka (svaka instrukcija u novom redu)" id="message_input" cols="30" rows="5" required formControlName="instructions"></textarea>
                 <p class="alert alert-danger" *ngIf="getInstErr()?.required" style="width: 100%; text-align: left;margin-bottom: 5px;">
                  Unesite bar jednu instrukciju za pripremu recepta.
                 </p>
                </div>

               <div class="message" style = "margin-bottom: 30px;">
                 <label for="message"></label>
                 <textarea name="message" placeholder="Instrukcije za serviranje (svaka instrukcija u novom redu) - opciono" id="message_input" cols="30" rows="5" required formControlName="serving"></textarea>
               </div>

               <!-- Dugmici u sastojcima -->
               <!-- <div style = "overflow: hidden;"> -->
             <!--  </div> -->


             </div>
        </div>
       <!--
         <div class="telephone">
           <label for="name"></label>
           <input type="text" placeholder="My number is" name="telephone" id="telephone_input" required>
         </div>
         <div class="subject">
           <label for="subject"></label>
           <select placeholder="Subject line" name="subject" id="subject_input" required>
             <option disabled hidden selected>Subject line</option>
             <option>I'd like to start a project</option>
             <option>I'd like to ask a question</option>
             <option>I'd like to make a proposal</option>
           </select>
         </div>
         <div class="message">
           <label for="message"></label>
           <textarea name="message" placeholder="I'd like to chat about" id="message_input" cols="30" rows="5" required></textarea>
         </div> -->

         <div class="container recipeDetails" style = "margin-top: 0px; margin-bottom: 80px;">
            <div class="row">
              <div class="col-sm my-auto">
                 <div class="submit">
                   <input type="reset" value="Izbriši sve" id="form_button_ingredients" style = "width: 150px; height: 50px; font-size: small; "/>
                 </div>
             </div>
             <div class="col-sm my-auto">
               <div class="submit">
                 <input type="submit" value="Dodaj recept" id="form_button_ingredients" style = "width: 150px; height: 50px; font-size: small;"/>
               </div>
             </div>
           </div>
         </div>



       </form><!-- // End form -->
     </div> <!-- // End #container -->

  </div>
</section>

