<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" [routerLink]="['/']" >Recept na klik</a>
        <img src="assets/img/logo.png" alt="Recept na klik"   height="30px" width="30px" [routerLink]="['/']" class = "image-logo">
        <div class="collapse navbar-collapse" id="navbarResponsive" *ngIf="!loginService.getLoggedIn()">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" [routerLink]="['/']" [fragment]="'footer'">Kontakt</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" [routerLink]="['login']">Prijavi se</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" [routerLink]="['registration']">Registruj se</a></li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarResponsive" *ngIf="loginService.getLoggedIn()">
            <ul class="navbar-nav ml-auto">  
                <li class="nav-item"><a class="nav-link js-scroll-trigger" [routerLink]="['/']" [fragment]="'footer'">Kontakt</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" [routerLink]="['/user', loginService.getLoggedInUserId()]"><span class="material-icons">person_outline</span><span style="vertical-align: top;"> {{ loginService.getLoggedInUsername() }}</span></a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" [routerLink]="['/']" (click)="loginService.logOut()">Odjavi se</a></li>
            </ul>
        </div>
    </div>
  </nav>

