<section class="projects-section bg-bluish" id="projects" style = "padding-top: 0px;">
    <div class="container">
  
      <!-- Predjela i glavna jela -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6"><img class="img-fluid" src="assets/img/appetizers.jpg" alt="" /></div>
        <div class="col-lg-6">
            <div class="bg-greyish text-center h-100 project">
                <div class="d-flex h-100">
                    <div class="project-text w-100 my-auto text-center text-lg-left">
                        <h4 class="text-beige category-link" (click)="toFilterPage('predjelo')">Predjela</h4>
                        <p class="mb-0 text-beige">Uživajte u raznovrsnim i neobičnim predjelima!</p>
                        <hr class="d-none d-lg-block mb-0 ml-0" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Project Two Row-->
    <div class="row justify-content-center no-gutters">
        <div class="col-lg-6"><img class="img-fluid" src="assets/img/mainDish.jpg" alt="" /></div>
        <div class="col-lg-6 order-lg-first">
            <div class="bg-greyish text-center h-100 project">
                <div class="d-flex h-100">
                    <div class="project-text w-100 my-auto text-center text-lg-right">
                        <h4 class="text-beige category-link" (click)="toFilterPage('meso')">Glavna jela</h4>
                        <p class="mb-0 text-beige">Najukusnija jela za Vas i Vaše najmilije!</p>
                        <hr class="d-none d-lg-block mb-0 mr-0" style = "float: right;"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <!-- Salate i deserti -->
    <!-- Project One Row-->
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6"><img class="img-fluid" src="assets/img/salads.jpg" alt="" /></div>
        <div class="col-lg-6">
            <div class="bg-greyish text-center h-100 project">
                <div class="d-flex h-100">
                    <div class="project-text w-100 my-auto text-center text-lg-left">
                        <h4 class="text-beige category-link" (click)="toFilterPage('salata')">Salate</h4>
                        <p class="mb-0 text-beige">Najukusnija mešavina voća i povrća!</p>
                        <hr class="d-none d-lg-block mb-0 ml-0" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Project Two Row-->
    <div class="row justify-content-center no-gutters">
        <div class="col-lg-6"><img class="img-fluid" src="assets/img/desserts.jpg" alt="" /></div>
        <div class="col-lg-6 order-lg-first">
            <div class="bg-greyish text-center h-100 project">
                <div class="d-flex h-100">
                    <div class="project-text w-100 my-auto text-center text-lg-right">
                        <h4 class="text-beige category-link" (click)="toFilterPage('torta')">Deserti</h4>
                        <p class="mb-0 text-beige">Ukusan kutak za slatki trenutak!</p>
                        <hr class="d-none d-lg-block mb-0 mr-0" style = "float: right;"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <!-- Zdravo i posno -->
  
    <!-- Project One Row-->
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6"><img class="img-fluid" src="assets/img/healthy.jpg" alt="" /></div>
        <div class="col-lg-6">
            <div class="bg-greyish text-center h-100 project">
                <div class="d-flex h-100">
                    <div class="project-text w-100 my-auto text-center text-lg-left">
                        <h4 class="text-beige category-link" (click)="toFilterPage('zdravo')">Zdravo</h4>
                        <p class="mb-0 text-beige">Mens sana in corpore sano!</p>
                        <hr class="d-none d-lg-block mb-0 ml-0" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Project Two Row-->
    <div class="row justify-content-center no-gutters">
        <div class="col-lg-6"><img class="img-fluid" src="assets/img/feast.jpg" alt="" /></div>
        <div class="col-lg-6 order-lg-first">
            <div class="bg-greyish text-center h-100 project">
                <div class="d-flex h-100">
                    <div class="project-text w-100 my-auto text-center text-lg-right">
                        <h4 class="text-beige category-link" (click)="toFilterPage('posno')">Posno</h4>
                        <p class="mb-0 text-beige">Bogat izbor za one koji poste!</p>
                        <hr class="d-none d-lg-block mb-0 mr-0" style = "float: right;"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <!-- Vegeterijanski i veganski -->
  
    <!-- Project One Row-->
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6"><img class="img-fluid" src="assets/img/vegetarian.jpg" alt="" /></div>
        <div class="col-lg-6">
            <div class="bg-greyish text-center h-100 project">
                <div class="d-flex h-100">
                    <div class="project-text w-100 my-auto text-center text-lg-left">
                        <h4 class="text-beige category-link" (click)="toFilterPage('vegeterijanski')">Vegeterijanski</h4>
                        <p class="mb-0 text-beige">Jer volimo životinje!</p>
                        <hr class="d-none d-lg-block mb-0 ml-0"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Project Two Row-->
    <div class="row justify-content-center no-gutters">
        <div class="col-lg-6"><img class="img-fluid" src="assets/img/vegan.jpg" alt="" /></div>
        <div class="col-lg-6 order-lg-first">
            <div class="bg-greyish text-center h-100 project">
                <div class="d-flex h-100">
                    <div class="project-text w-100 my-auto text-center text-lg-right">
                        <h4 class="text-beige category-link" (click)="toFilterPage('veganski')">Veganski</h4>
                        <p class="mb-0 text-beige">Budite u trendu! Probajte veganski način života!</p>
                        <hr class="d-none d-lg-block mb-0 mr-0" style = "float: right;"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
  
    </div>
  </section>
  