<div class="about-section text-center" id="about" style='padding-bottom: 100px;'>
    <div class="container emp-profile" *ngIf="user" style='margin-bottom: 50px;' id = 'aboutUser'>
        <form method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        <img [src]="imageContent" alt="slika recepta"
                            style="overflow:hidden; border-radius:50%; width:70%; height: 70%; margin-bottom: 0px; padding-bottom: 0px;" />

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                        <h5 class="text-red">
                            {{ user.firstName }} {{ user.lastName }}
                        </h5>
                        <p class="proile-rating text-red" *ngIf="userRecipes">Broj recepata: {{ userRecipes.length }}
                        </p>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active text-red" id="home-tab" data-toggle="tab" href="#home"
                                    role="tab" aria-controls="home" aria-selected="true">O korisniku</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-red" id="recipes-tab" data-toggle="tab" href="#recipes"
                                    role="tab" aria-controls="recipe" aria-selected="false">Recepti</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-red" id="likes-tab" data-toggle="tab" href="#likes" role="tab"
                                    aria-controls="likes" aria-selected="false">Omiljeni recepti</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2" *ngIf="isUserSame">
                    <button type="submit" class="btn btn-xs bg-red text-beige"
                        style="font-size: 0.7em; font-weight: bold; font-family: 'Helvetica', Arial, sans-serif;"
                        name="btnAddMore" (click)="openeditdiv()">Izmeni</button>
                    <hr>
                    <input type="submit" class="btn btn-xs bg-red text-beige"
                        style="font-size: 0.7em; font-weight: bold; font-family: 'Helvetica', Arial, sans-serif;"
                        name="btnAddMore" value="Dodaj recept" [routerLink]="['./addRecipes']" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-work">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-4 text-red">
                                    <label>Korisničko ime</label>
                                </div>
                                <div class="col-md-4">
                                    <p>{{ user.username }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 text-red">
                                    <label>Ime i prezime</label>
                                </div>
                                <div class="col-md-4">
                                    <p>{{ user.firstName }} {{ user.lastName }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 text-red">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-4">
                                    <p>{{ user.email }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="recipes" role="tabpanel" aria-labelledby="recipes-tab" *ngIf="userRecipes">
                            <div *ngFor="let recipe of userRecipes">
                                <app-recipeview class="column"
                                    style="margin-bottom: 0px; padding-bottom: 0px; float: left; width: 90%;"
                                    [recipeId]="recipe._id" [userId]="recipe.userId"></app-recipeview>
                                <div class="column" style="float: right;" *ngIf="isUserSame">
                                    <button mat-icon-button class="column" (click)='deleteRecipe(recipe._id)'>
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                                <div class="column" style="float: right;" *ngIf="isUserSame">
                                    <button mat-icon-button class="column" (click)='openEditRecipe(recipe._id)'>
                                        <mat-icon>border_color</mat-icon>
                                    </button>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="likes" role="tabpanel" aria-labelledby="likes-tab" *ngIf="user">
                            <div *ngFor="let favorite of userFavorites">
                                <app-recipeview class="column"
                                    style="margin-bottom: 0px; padding-bottom: 0px; float: left; width: 90%;"
                                    [recipeId]="favorite._id" [userId]="favorite.userId"></app-recipeview>
                                <div class="column" style="float: right;" *ngIf="isUserSame">
                                    <button mat-icon-button class="column" (click)='deleteFavorite(favorite._id)'>
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="updateDiv" *ngIf="openedit">
    <div class="card-body">
        <form class="form-horizontal" [formGroup]="UpdateForm" (ngSubmit)="submitForm(UpdateForm.value)">
            <div class="row" style="margin-left: 5px;">
                <div class="cols-sm-6">
                    <div class="form-group">
                        <label for="name" class="cols-sm-2 control-label">Ime</label>
                        <div class="cols-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon" style=""><i class="fa fa-user fa"
                                        aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="firstName" id="firstName"
                                    formControlName="firstName" [(ngModel)]="user.firstName"
                                    placeholder="{{user.firstName}}" value="{{ user.firstName }}" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cols-sm-6" style="margin-left: 50px;">
                    <div class="form-group">
                        <label for="name" class="cols-sm-2 control-label">Prezime</label>
                        <div class="cols-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon" style=""><i class="fa fa-user fa"
                                        aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="lastName" id="lastName"
                                    formControlName="lastName" placeholder="{{user.lastName}}"
                                    [(ngModel)]="user.lastName" value="{{ user.lastName }}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-left: 5px;">

                <div class="cols-sm-6">
                    <div class="form-group">
                        <label for="email" class="cols-sm-2 control-label">Email</label>
                        <div class="cols-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon" style=""><i class="fa fa-envelope fa"
                                        aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="email" id="email" formControlName="email"
                                    placeholder="{{user.email}}" [(ngModel)]="user.email" value="{{ user.email }}" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cols-sm-6" style="margin-left: 50px;">
                    <div class="form-group">
                        <label for="username" class="cols-sm-2 control-label">Korisničko ime</label>
                        <div class="cols-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon" style=""><i class="fa fa-users fa"
                                        aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="username" formControlName="username"
                                    id="username" placeholder="{{user.username}}" [(ngModel)]="user.username"
                                    value="{{ user.username }}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-left: 5px;">
                <div class="cols-sm-6">
                    <div class="form-group">
                        <label for="password" class="cols-sm-2 control-label">Šifra</label>
                        <div class="cols-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon" style=""><i class="fa fa-lock fa-lg"
                                        aria-hidden="true"></i></span>
                                <input type="password" class="form-control" name="password" formControlName="password"
                                    id="password" placeholder="Šifra" style = "background: none;
                                    border: none;
                                    border-bottom: solid 2px #972426; font-size: 0.8em;
                                    font-weight: 600;
                                    letter-spacing: 1px;"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cols-sm-6" style="margin-left: 50px;">
                    <div class="form-group">
                        <label for="confirm" class="cols-sm-2 control-label">Potvrdi šifru</label>
                        <div class="cols-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon" style=""><i class="fa fa-lock fa-lg"
                                        aria-hidden="true"></i></span>
                                <input type="password" class="form-control" name="confirm" id="confirm" formControlName="confirm"
                                    placeholder="Potvrdi šifru" style = "background: none;
                                    border: none;
                                    border-bottom: solid 2px #972426; font-size: 0.8em;
                                    font-weight: 600;
                                    letter-spacing: 1px;"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="alert" *ngIf="equalpass()">
                    Šifre se ne poklapaju.
                  </div>
            </div>
            <form action="/action_page.php">
                <label type="text" for="photo" style="width: 100%; text-align: left;">Slika:</label>
                <input type="file" id="img" name="photo" accept="image/*" (change)="fileChangeEvent($event)"
                    formControlName="photo">
            </form>

           

            <div class="form-group ">
                <button type="submit" name="submit" class="btn btn-md bg-red" [disabled]="!UpdateForm.valid"
                    style="color: beige;"> Izmeni podatke</button>

            </div>

        </form>
        <button class="btn btn-md bg-red" (click)="closeeditdiv()" style="color: beige;"> Zatvori</button>
    </div>

</div>




<div id="updateRecipeDiv" *ngIf="openEditRecipeDiv">
    <div class="card-body">
        <form class="form-horizontal" [formGroup]="UpdateFormRecipe"
            (ngSubmit)="submitFormRecipe(UpdateFormRecipe.value)">
            <div style="overflow: hidden;">
                <div style="float: left; width: 315px;">
                    <label type="text" for="addRecipe" style="width: 100%; text-align: left;">Unesite ime
                        recepta:</label>
                    <div class="addRecipe rdMin">
                        <input type="text" name="addRecipe" id="addRecipe" style="width: 100%;" formControlName="title"
                            [placeholder]="recipeUpdate.title">
                    </div>

                    <label type="text" for="addRecipe" style="width: 100%; text-align: left;">Unesite težinu pripreme
                        recepta [1-10]:</label>
                    <div class="addRecipe rdMin">
                        <input type="text" name="addRecipe" id="addRecipe" formControlName="difficulty"
                            [placeholder]="recipeUpdate.difficulty">
                    </div>

                    <label type="text" for="addRecipe" style="width: 100%; text-align: left;">Unesite vreme pripreme
                        recepta (u minutima):</label>
                    <div class="addRecipe rdMin">
                        <input type="text" name="addRecipe" id="addRecipe" formControlName="preptime"
                            [placeholder]="recipeUpdate.preptime">
                    </div>

                    <label type="text" for="addRecipe" style="width: 100%; text-align: left;">Unesite za koji obrok je
                        namenjen recept (doručak/ručak/večera):</label>
                    <div class="addRecipe rdMin">
                        <input type="text" name="addRecipe" id="addRecipe" formControlName="course"
                            [placeholder]="recipeUpdate.course">
                    </div>

                    <label type="text" for="addRecipe" style="width: 100%; text-align: left;">Unesite za koliko osoba je
                        recept namenjen:</label>
                    <div class="addRecipe rdMin">
                        <input type="text" name="addRecipe" id="addRecipe" formControlName="units"
                            [placeholder]="recipeUpdate.units">
                    </div>

                    <!-- Kategorije -->
                    <label type="text" for="addRecipe" style="width: 100%; text-align: left;">Izaberite kategorije
                        kojima pripada recept:</label>
                    <div class="row">
                        <div class="col">
                            <input class="form-check-input categoryCheckBox" type="checkbox" id="vegeterijanski"
                                style="left: 32px;" value="vegeterijanski" (change)="onCheckboxChange($event)">
                            <label class="form-check-label categoryCheck" for="roundedOne">Vegeterijanski</label>
                        </div>
                        <div class="col" style="float: left;">
                            <input class="form-check-input categoryCheckBox" type="checkbox" id="veganski"
                                style="left: 30px;" value="veganski" (change)="onCheckboxChange($event)">
                            <label class="form-check-label categoryCheck" for="inlineCheckbox2"
                                style="margin-left: 17px;">Veganski</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="float: left;">
                            <input class="form-check-input categoryCheckBox" type="checkbox" id="posno"
                                style="left: 32px;" value="posno" (change)="onCheckboxChange($event)">
                            <label class="form-check-label categoryCheck" for="inlineCheckbox3">Posno</label>
                        </div>
                        <div class="col" style="float: left;">
                            <input class="form-check-input categoryCheckBox" type="checkbox" id="zdravo"
                                style="left: 30px;" value="zdravo" (change)="onCheckboxChange($event)">
                            <label class="form-check-label categoryCheck" for="inlineCheckbox4"
                                style="margin-left: 17px;">Zdravo</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="float: left;">
                            <input class="form-check-input categoryCheckBox" type="checkbox" id="meso"
                                style="left: 32px;" value="meso" (change)="onCheckboxChange($event)">
                            <label class="form-check-label categoryCheck" for="inlineCheckbox5">Meso</label>
                        </div>
                        <div class="col" style="float: left;">
                            <input class="form-check-input categoryCheckBox" type="checkbox" id="salata"
                                style="left: 30px;" value="salata" (change)="onCheckboxChange($event)">
                            <label class="form-check-label categoryCheck" for="inlineCheckbox6"
                                style="margin-left: 17px;">Salata</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="float: left;">
                            <input class="form-check-input categoryCheckBox" type="checkbox" id="riba"
                                style="left: 32px;" value="riba" (change)="onCheckboxChange($event)">
                            <label class="form-check-label categoryCheck" for="inlineCheckbox7">Riba</label>
                        </div>
                        <div class="col" style="float: left;">
                            <input class="form-check-input categoryCheckBox" type="checkbox" id="morski plodovi"
                                style="left: 30px;" value="morski plodovi" (change)="onCheckboxChange($event)">
                            <label class="form-check-label categoryCheck" for="inlineCheckbox8"
                                style="margin-left: 17px;">Morski plodovi</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="float: left;">
                            <input class="form-check-input categoryCheckBox" type="checkbox" id="predjelo"
                                style="left: 32px;" value="predjelo" (change)="onCheckboxChange($event)">
                            <label class="form-check-label categoryCheck" for="inlineCheckbox9">Predjelo</label>
                        </div>
                        <div class="col" style="float: left;">
                            <input class="form-check-input categoryCheckBox" type="checkbox" id="pasta"
                                style="left: 30px;" value="pasta" (change)="onCheckboxChange($event)">
                            <label class="form-check-label categoryCheck" for="inlineCheckbox10"
                                style="margin-left: 17px;">Pasta</label>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 30px;">
                        <div class="col" style="float: left;">
                            <input class="form-check-input categoryCheckBox" type="checkbox" id="supa"
                                style="left: 32px;" value="supa" (change)="onCheckboxChange($event)">
                            <label class="form-check-label categoryCheck" for="inlineCheckbox11">Supa/Čorba</label>
                        </div>
                        <div class="col" style="float: left;">
                            <input class="form-check-input categoryCheckBox" type="checkbox" id="torta"
                                style="left: 30px;" value="torta" (change)="onCheckboxChange($event)">
                            <label class="form-check-label categoryCheck" for="inlineCheckbox12"
                                style="margin-left: 17px;">Torta/Kolač</label>
                        </div>
                    </div>

                    <form action="/action_page.php">
                        <label type="text" for="addRecipe" style="width: 100%; text-align: left;">Unesite sliku
                            recepta:</label>
                        <input type="file" id="img" name="photo" accept="image/*" style="margin-bottom: 30px;"
                            (change)="fileChangeEventRecipe($event)" formControlName="photo">
                    </form>

                </div>
                <div style="float: right; width: 315px;">

                    <div formArrayName="ingredients" class="enterIngredient"
                        *ngFor="let ingrs of UpdateFormRecipe.controls.ingredients?.value; let i = index; trackBy:customTrackBy" >
                        <input type="text" name="enterIngredient" id="enterIngredient" [formControlName]="i">
                    </div>


                    <div class="submit" style="width: 100%; margin-bottom: 30px;">
                        <input (click)="addIngredient()" value="Dodaj sastojak" id="form_button_ingredients"
                            style="width: 150px; height: 50px; font-size: small; " />
                    </div>

                    <div class="message">
                        <label for="message"></label>
                        <textarea name="message" id="instructions" cols="30" rows="5"
                            formControlName="instructions"></textarea>
                    </div>

                    <div class="message" style="margin-bottom: 30px;">
                        <label for="message"></label>
                        <textarea name="message" [placeholder]="recipeUpdate.serving" id="message_input" cols="30"
                            rows="5" formControlName="serving"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group ">
                <button type="submit" name="submit" class="btn btn-md bg-red" [disabled]="!UpdateFormRecipe.valid"
                    style="color: beige; padding-bottom: 10px;"> Izmeni podatke</button>
                <button class="btn btn-md bg-red" (click)="closeEditRecipe()" style="color: beige; margin-left: 50px;"> Zatvori</button>
            </div>
        </form>
    </div>
</div>


<router-outlet></router-outlet>
