<section class="about-section text-center" id="about" style = "padding-bottom: 50px;">
  <div class="container" style="padding: 30px;">
      <div class="row">
          <div class="col-lg-8 mx-auto">
              <h2 class="text-beige">Napravite ukusno jelo koristeći namirnice koje imate</h2>
              <p class="text-beige">
                Recept na klik predstavlja online kuvar koji Vam omogućava da spremite ukusno i hranljivo
                 jelo koristeći samo one namirnice koje imate pored sebe!
              </p>
          </div>
      </div>
      <!--<img class="img-fluid" src="assets/img/homeBackground.jpg" alt="" /> -->

      <!-- POCETAK CAROUSEL -->
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="assets/img/homeBackground5.jpg" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
          <!--<h5 class = "text-red"> Dijetalno </h5>-->
          <!-- <p class = "text-red"> Ajde samo reci nesto </p> -->
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="assets/img/homeBackground6.jpg" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
          <!--<h5> Najpopularnije </h5>-->
          <!-- <p> Ajde samo reci nesto </p> -->
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="assets/img/homeBackground7.jpg" alt="Third slide">
        <div class="carousel-caption d-none d-md-block">
        <!--  <h5> Najnovije </h5>-->
          <!-- <p> Ajde samo reci nesto </p> -->
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
      <!-- KRAJ CAROUSEL -->

  </div>
</section>
