<section class="about-section text-center text-black" id="about"
    style="background: linear-gradient(to top, rgba(192, 151, 141, 0.1) 0%, rgba(192, 151, 141, 0.3) 90%, #972426 100%), url('assets/img/dish05.jpg'); margin-bottom: 0px; padding-bottom: 0px;">
    <div class="container" style="font-weight: bold;">
        <div class="row justify-content-center text-red">
            <div class="col-md-8">

                <h3 class="card-header" style = "font-weight: 600; letter-spacing: 3px; font-size: 25px;">REGISTRACIJA</h3>
                <div class="card-body">

                    <form class="form-horizontal" [formGroup]="SignUpForm" (ngSubmit)="submitForm(SignUpForm.value)">

                        <div class="form-group">
                            <label for="name" class="cols-sm-2 control-label">Ime</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon" style="padding:5px"><i class="fa fa-user fa"
                                            aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="firstName" id="firstName"
                                        formControlName="firstName" placeholder="Ime" />
                                </div>
                            </div>
                        </div>

                        <div class="alert alert-danger" *ngIf="getfirstNameerr()?.required" style = 'margin: 10px 0px 50px 0px;'>
                          Ime je obavezno polje.
                        </div>

                        <div class="form-group">
                            <label for="name" class="cols-sm-2 control-label">Prezime</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon" style="padding:5px"><i class="fa fa-user fa"
                                            aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="lastName" id="lastName"
                                        formControlName="lastName" placeholder="Prezime" />
                                </div>
                            </div>
                        </div>

                        <div class="alert alert-danger" *ngIf="getlastNameerr()?.required" style = 'margin: 10px 0px 50px 0px;'>
                          Prezime je obavezno polje.
                        </div>

                        <div class="form-group">
                            <label for="email" class="cols-sm-2 control-label">Email</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon" style="padding:5px"><i class="fa fa-envelope fa"
                                            aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="email" id="email"
                                        formControlName="email" placeholder=" Email" />
                                </div>
                            </div>
                        </div>

                        <div class="alert alert-danger" *ngIf="getemailerr()?.required" style = 'margin: 10px 0px 50px 0px;'>
                          Email je obavezno polje.
                        </div>
                        <div class="alert alert-danger" *ngIf="getemailerr()?.email" style = 'margin: 10px 0px 50px 0px;'>
                            Email je u neispravnom formatu.
                        </div>

                        <div class="form-group">
                            <label for="username" class="cols-sm-2 control-label">Korisničko ime</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon" style="padding:5px"><i class="fa fa-users fa"
                                            aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="username" formControlName="username"
                                        id="username" placeholder="Korisničko ime" />
                                </div>
                            </div>
                        </div>

                        <div class="alert alert-danger" *ngIf="getusernameerr()?.required" style = 'margin: 10px 0px 50px 0px;'>
                          Korisničko ime je obavezno polje.
                        </div>

                        <div class="form-group">
                            <label for="password" class="cols-sm-2 control-label">Šifra</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon" style="padding:5px"><i class="fa fa-lock fa-lg"
                                            aria-hidden="true"></i></span>
                                    <input type="password" class="form-control" formControlName="password"
                                        name="password" id="password" placeholder="Šifra"  style = "background: none;
                                        border: none;
                                        border-bottom: solid 2px #972426; font-size: 0.8em;
                                        font-weight: 600;
                                        letter-spacing: 1px;"/>
                                </div>
                            </div>
                        </div>

                        <div class="alert alert-danger" *ngIf="getpassworderr()?.required" style = 'margin: 10px 0px 50px 0px;'>
                          Šifra je obavezno polje.
                        </div>

                        <div class="form-group">
                            <label for="confirm" class="cols-sm-2 control-label">Potvrdi šifru</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon" style="padding:5px"><i class="fa fa-lock fa-lg"
                                            aria-hidden="true"></i></span>
                                    <input type="password" class="form-control" formControlName="confirm" name="confirm"
                                        id="confirm" placeholder="Potvrdi šifru" style = "background: none;
                                        border: none;
                                        border-bottom: solid 2px #972426; font-size: 0.8em;
                                        font-weight: 600;
                                        letter-spacing: 1px;"/>
                                </div>
                            </div>
                        </div>

                        <div class="alert alert-danger" *ngIf="equalpass()" style = 'margin: 10px 0px 50px 0px;'>
                          Šifre se ne poklapaju.
                        </div>

               <form action="/action_page.php">
                <label type = "text" for="addRecipe" style = "width: 100%; text-align: center;">Unesite profilnu sliku:</label>
                <input type="file" id="img" name="photo" accept="image/*"  (change)="fileChangeEvent($event)" formControlName="photo">
               </form>

                        <div class="form-group ">
                            <button type="submit" name="submit" [disabled]="!SignUpForm.valid" class="btn btn-md bg-red"
                                style="color: beige;">Registruj se</button>
                        </div>
                        <div class="text-red">
                            <h5 class="text-red login-link" (click)="goToLogin()">Prijavi se</h5>
                        </div>


                    </form>

                </div>


            </div>
        </div>
    </div>
</section>
